/* Reset */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.6;
   background-color: #f8f9fa;
   color: #333;
}

h1.text-light {
   font-size: 26px;
}

p.text-light {
   font-size: 14px;
}

.container {
   width: 90%;
   max-width: 1200px;
}

.container.section {
   margin-top: 50px;
}

.gallery {
   margin-bottom: 20px;
   margin-top: 20px;
}

.carousel-inner {
   margin-top: 30px;
}

.content {
   margin-top: 20px;
}

.content p {
   text-align: justify;
   margin-bottom: 15px;
}

/* Header */
header {
   background-color: #343a40;
   color: #fff;
   text-align: center;
}

header h1 {
   font-size: 36px;
   font-weight: 700;
   text-transform: uppercase;
   margin: 0;
}

header p {
   font-size: 18px;
   font-weight: 400;
   margin: 0;
}

/* Navbar */
.navbar {
   background-color: #343a40;
   padding: 10px 0;
   margin-bottom: 10px;
   position: relative;
   height: auto;
}

.navbar-brand {
   font-size: 18px;
   font-weight: 700;
   margin-right: 20px;
   display: flex;
   align-items: center;
   color: #fff;
   text-decoration: none;
}

.navbar-brand img {
   width: 40px;
}

.navbar-nav .nav-link {
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   padding: 5px 10px;
   transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
   color: #ccc;
}

/* Section */
.section {
   padding: 40px 0;
   margin-top: 70px;
}

h2 {
   font-size: 24px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 30px;
}

.content p {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.6;
   color: #555;

}

/* Benefit */
.benefit {
   display: flex;
   align-items: center;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
}

.benefit img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-right: 30px;
}

#benefits h3 {
   font-size: 24px;
}

.benefit h4 {
   font-size: 18px;
   font-weight: 700;
   color: #343a40;
}

.benefit p {
   font-size: 16px;
   font-weight: 400;
   color: #555;
}

.benefit:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

#choose-us .highlight {
   padding: 40px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#choose-us h2 {
   font-size: 24px;
   color: #343a40;
   margin-bottom: 20px;
}

#choose-us .highlight h3 {
   font-size: 24px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 20px;
}

#choose-us .highlight p {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.6;
   color: #555;
   margin-bottom: 20px;
}

#choose-us .highlight:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

#choose-us .highlight:hover p {
   transform: translateY(-3px);
}

#pricing {
   padding: 40px 0;
   background-color: #f8f9fa;
   /* Light background color for section */
}

#pricing h2 {
   font-size: 24px;
   font-weight: 600;
   color: #343a40;
   margin-bottom: 30px;
   text-align: center;
   text-transform: uppercase;
   /* Uppercase for a more formal look */
}

.table-container {
   padding: 0 20px;
   /* Add padding to the container */
}

.table {
   width: 100%;
   margin-bottom: 1rem;
   color: #212529;
   border-collapse: collapse;
}

.table th,
.table td {
   padding: 12px;
   text-align: left;
   border-top: 1px solid #dee2e6;
}

.table thead th {
   background-color: #343a40;
   /* Dark header background */
   color: #fff;
   /* White text for header */
   border-bottom: 2px solid #dee2e6;
}

.table tbody tr:nth-child(odd) {
   background-color: #f2f2f2;
   /* Light grey for alternating rows */
}

.table tbody tr:hover {
   background-color: #e9ecef;
   /* Slightly darker grey for hover effect */
}

.table td {
   font-size: 16px;
}

.table th {
   font-size: 16px;
   font-weight: 600;
}

/* Footer */
footer {
   background-color: #343a40;
   color: #fff;
   padding: 40px 0;
   text-align: left;
   font-size: 14px;
   margin-top: 2rem;
}

footer h2 {
   color: white;
   font-size: 22px;
   margin-bottom: 20px;
}

footer p {
   margin: 0 0 10px;
   line-height: 1.5;
}

footer a {
   color: #ffc107;
   text-decoration: none;
}

footer a:hover {
   text-decoration: underline;
}

footer .container {
   max-width: 1140px;
   margin: 0 auto;
}

footer .row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

footer .col-md-6 {
   flex: 0 0 48%;
   max-width: 48%;
   margin-bottom: 20px;
}

footer iframe {
   border: 0;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer .text-left {
   text-align: left;
}

/* Formulir Penyewaan Mobil */
#form {
   padding: 40px 0;
}

#form h2 {
   font-size: 24px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 20px;
   text-align: center;
}

#form p {
   color: red;
   font-size: 12px;
   text-align: center;
}

#rentalForm {
   max-width: 400px;
   margin: 0 auto;
}

.form-group {
   margin-bottom: 20px;
}

.form-group label {
   font-size: 16px;
   font-weight: 600;
   color: #343a40;
}

.form-control {
   width: 100%;
   padding: 10px;
   font-size: 14px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.Btn {
   width: 130px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(45deg, rgb(8, 226, 0), rgb(0, 150, 0));
   border: none;
   color: white;
   font-weight: 600;
   gap: 8px;
   cursor: pointer;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.Btn::before {
   width: 300%;
   height: 300%;
   position: absolute;
   content: "";
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 50%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: transform 0.5s ease;
}

.Btn:hover {
   background: linear-gradient(45deg, rgb(0, 200, 0), rgb(0, 120, 0));
   box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.Btn:hover::before {
   transform: translate(-50%, -50%) scale(1);
}

.Btn:active {
   transform: scale(0.98);
   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
   transition: transform 0.1s ease;
}

/* Card styles */
.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
   width: 300px;
   margin: 20px;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
}

.card:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.card h3 {
   font-size: 24px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 15px;
}

.card ul {
   padding-left: 20px;
}

.card ul li {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.6;
   color: #555;
   margin-bottom: 10px;
}

/* Contact */
.contact {
   padding: 40px 0;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.contact h2 {
   font-size: 36px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 30px;
   text-align: center;
}

.contact p {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.6;
   color: #555;
   margin-bottom: 20px;
   text-align: center;
}

/* Card styles for terms */
.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
   width: 300px;
   margin: 20px;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
}

.card:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.card h3 {
   font-size: 24px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 15px;
}

.card ul {
   padding-left: 20px;
}

.card ul li {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.6;
   color: #555;
   margin-bottom: 10px;
}

/* Terms styles */
#terms {
   padding: 20px 0;
   background-color: #fff;
}

#terms h2 {
   font-size: 24px;
   color: #343a40;
   margin-bottom: 20px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding: 0 20px;
   max-width: 80%;
}

.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
   width: 300px;
   margin: 20px;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
}

.card h3 {
   font-size: 20px;
   font-weight: 700;
   color: #343a40;
   margin-bottom: 15px;
}

.card ul {
   padding-left: 20px;
}

.card ul li {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.6;
   color: #555;
   margin-bottom: 10px;
}

@media (max-width: 767px) {
    .navbar-brand {
      margin-right: 0;
   }

   .navbar-brand img {
      display: none;
   }

   .navbar-nav {
      flex-direction: column;
      padding-top: 20px;
   }

   .navbar-nav .nav-link {
      color: #fff;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      background-color: #43484d00;
   }

   .navbar-nav .nav-link:last-child {
      border-bottom: none;
   }

   .navbar-nav .nav-link[href^="#"] {
      background-color: #343a40;
   }
   /* Section */
   h2 {
      font-size: 18px;
      margin-bottom: 12px;
   }

   #pricing {
      padding: 20px 20px;
   }

   #pricing h2 {
      font-size: 24px;
   }

   .table {
      font-size: 14px;
   }

   .table th,
   .table td {
      padding: 10px;
   }

   .content p {
      font-size: 14px;
      margin-bottom: 8px;
   }

   /* Benefit */
   .benefit img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
   }

   .benefit {
      flex-direction: column;
      align-items: center;
   }

   .benefit i {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      margin-right: 0;
   }

   #benefit h3 {
      font-size: 16px;
   }

   .benefit h4 {
      font-size: 12px;
      text-align: center;
   }

   .benefit p {
      font-size: 12px;
      text-align: justify;
   }

   /* Highlight */
   #choose-us h2 {
      font-size: 16px;
      margin-bottom: 12px;
      text-align: center;
   }

   #choose-us .highlight h3 {
      font-size: 16px;
      margin-bottom: 12px;
      text-align: center;
   }

   #choose-us .highlight p {
      font-size: 12px;
      margin-bottom: 12px;
      text-align: justify;
   }

   /* Card */
   .card {
      width: calc(100% - 20px);
      margin: 10px 0;
   }

   .card h3 {
      font-size: 16px;
      margin-bottom: 10px;
   }

   .card ul li {
      font-size: 12px;
      margin-bottom: 6px;
   }

   /* Contact */
   .contact h2 {
      font-size: 20px;
      margin-bottom: 12px;
   }

   .contact p {
      font-size: 12px;
      margin-bottom: 6px;
   }

   /* Terms */
   #terms h2 {
      font-size: 24px;
      color: #343a40;
      margin-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      max-width: 80%;
   }

   .card ul li {
      font-size: 12px;
      margin-bottom: 6px;
   }

   .table th,
   .table td {
      padding: 8px;
      font-size: 12px;
   }

   #form {
      padding: 20px 0;
      max-width: 100%;
      box-sizing: border-box;
   }

   #form h2 {
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
   }

   #form p {
      font-size: 12px;
      text-align: center;
   }

   #rentalForm {
      max-width: 400px;
      margin: 0 auto;
   }

   .form-group {
      margin-bottom: 20px;
   }

   .form-group label {
      font-size: 12px;
   }

   .form-control {
      width: 100%;
      padding: 10px;
      font-size: 14px;

      border-radius: 5px;
      border: 1px solid #ccc;
   }

   footer .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
   }

   footer {
      text-align: center;
   }

   footer .text-left {
      text-align: center;
   }
}

@media only screen and (max-width: 576px) {
   #rentalForm {
      max-width: 100%;

      padding: 0 20px;
   }

   .form-control {
      font-size: 12px;
   }
}

@media (max-width: 480px) {
   #terms h2 {
      font-size: 18px;
      padding: 0 10px;
      max-width: 95%;
   }

   footer h2 {
      font-size: 18px;
   }

   footer p {
      font-size: 12px;
   }
}